<nav class="navbar navbar-expand-md bg-white  border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
                
            </div>

<div class="navbar-nav ms-auto"><form class="d-flex" role="search">
      <input class="form-control me-2 btn-sch" type="search" placeholder="Search Destination" aria-label="Search"/>
      <button class="btn add-btn btn-sch" type="submit"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</button>
    </form></div>

     <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
            <a class="btn btn-outline-dark btn-sch me-2" href="/signup">Sign Up</a>
            <a class="nav-link btn btn-dark add-btn btn-sch" href="/login">Login</a>
        <% } %>

        <% if(currUser) { %>
            <span class="nav-link fw-bold text-dark me-3">
                Welcome, <%= currUser.username %>
            </span>
            <a class="nav-link btn btn-danger add-btn btn-sch" href="/logout">Logout</a>
        <% } %>
    </div>
        </div>
    </div>
</nav>